//------------------
//  Colores Ejemplo
//------------------

$primary: #FFFFFA;
$secondary: #F0E7DC;
$tertiary: #E8DFCE;
$tertiary-highlighted: #d8c2a6;
$text-color: #000000;

body{
    background-color: $primary;
    color: $text-color;
    font-family: 'Forum', cursive;
    font-size: 1.3rem;
}

.navbar{
    background-color: $secondary;
    line-height: 1.3rem;
    color: $text-color im !important;
}

.dropdown-menu{
    background-color: $tertiary;
    border: 0px;
}

.carousel-item {
    height: 90vh;
    min-height: 275px;
    background: no-repeat center center scroll;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
  }

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background-image:none !important;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background-color:$tertiary-highlighted;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    border: 0px;
    background-color: $tertiary;
}

#pistachio-logo{
    font-family: 'Forum', cursive;
    font-size: 2rem;
    line-height: 2rem;
}

#pistachio-logo-brand{
    font-family: 'Raleway', sans-serif;
    font-size: 0.75rem;
    line-height: 0.75rem;
}

#video {
    background-color: rgb(240, 234, 225);
}

video {
    width: 100vw;
    max-height: 100vh;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
}